<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <p>Available budget in December 2020</p>
                <p class="balance">{{transactionSummary.balance}}</p>
                <div class="total-amount mb-3 income d-flex justify-content-between">
                    <span>Income</span>
                    <span>+ {{transactionSummary.totalIncome}}</span>
                </div>
                <div class="total-amount expense d-flex justify-content-between">
                    <span>Expenses</span>
                    <span>- {{transactionSummary.totalExpense}}</span>
                </div>
            </div>
        </div>
    </div>
</div>