<ng-container *ngIf="transactions$ | async as transactions">
    <div class="list-holder">
        <ng-container *ngIf="transactions.length > 0; else emptyView">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="title">{{'Income' | uppercase}}</p>
                        <ul class="list-group">
                            <ng-container *ngFor="let transaction of incomeTransactions">
                                <app-transaction-item [transaction]="transaction"></app-transaction-item>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p class="title">{{'Expense' | uppercase}}</p>
                        <ul class="list-group">
                            <ng-container *ngFor="let transaction of expenseTransactions">
                                <app-transaction-item [transaction]="transaction"></app-transaction-item>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyView>
            <p class="text-center">No Transactions yet!!!</p>
        </ng-template>
    </div>
</ng-container>